<table><tr><td>5747 KING RD</td><td>LOOMIS</td><td>95650</td><td>CA</td><td>4</td><td>2</td><td>1328</td><td>Residential</td><td>Fri May 16 00:00:00 EDT 2008</td><td>295000</td><td>38.825096</td><td>-121.198432</td></tr></table>