<table><tr><td>427 21ST ST</td><td>SACRAMENTO</td><td>95811</td><td>CA</td><td>2</td><td>1</td><td>1247</td><td>Residential</td><td>Tue May 20 00:00:00 EDT 2008</td><td>445000</td><td>38.582604</td><td>-121.47576</td></tr></table>