<table><tr><td>6320 EL DORADO ST</td><td>EL DORADO</td><td>95623</td><td>CA</td><td>2</td><td>1</td><td>1040</td><td>Residential</td><td>Fri May 16 00:00:00 EDT 2008</td><td>205000</td><td>38.678758</td><td>-120.844118</td></tr></table>